Repository ustunfatih/foncu: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-format-check:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

fix(build): sync pnpm lockfile for vercel
  pnpm-lock.yaml
Due: none

fix(deploy): route cron schedules through a single sync function
  api/sync-fintables-daily.js
  api/sync-fund-holdings-monthly.js
  vercel.json
Due: none

feat(data): switch holdings sync to KAP workflow
  .github/workflows/monthly-holdings-sync.yml
  api/__tests__/sync-fintables.test.js
  api/_lib/providers/fund-holdings-provider.js
  api/_lib/providers/fund-profiles-provider.js
  api/_lib/tefas.js
  api/fund-profile.js
  api/overlap.js
  api/sync-fintables.js
  frontend/src/api.ts
  frontend/src/pages/OrtusmeTab.tsx
  frontend/src/types.ts
  scripts/requirements-kap-holdings.txt
  scripts/sync_kap_holdings.py
  supabase/migrations/20260327110000_fund_profile_hybrid_source_fields.sql
  vercel.json
Due: frontend-lint, frontend-format-check

perf(sync): narrow monthly holdings sync scope
  .github/workflows/monthly-holdings-sync.yml
  api/_lib/providers/fund-profiles-provider.js
  scripts/export_tefas_yat_codes.js
  scripts/sync_kap_holdings.py
Due: none

fix(ci): grant codeql upload permissions
  .github/workflows/codeql-analysis.yml
Due: none

feat(sync): chunk monthly holdings imports
  .github/workflows/monthly-holdings-sync.yml
  scripts/sync_kap_holdings.py
Due: none

fix(parser): support compact KAP stock tables
  scripts/sync_kap_holdings.py
Due: none

fix(sync): keep monthly batches from failing on mapping cache
  scripts/sync_kap_holdings.py
Due: none

Add shared query validation across screening and fund APIs
  api/_lib/validation.js
  api/fund-history.js
  api/fund-risk.js
  api/fund-screen.js
  api/fund-technical-scan.js
  api/holdings-screener.js
Due: none

Harden sync-fintables auth to header-only tokens
  README.md
  api/__tests__/sync-fintables.test.js
  api/sync-fintables.js
  docs/VERCEL_SETUP.md
  vercel.json
Due: none

Harden API route resolution with allowlist
  api-server.js
  api/__tests__/api-server-route-validation.test.js
Due: none

Unify technical scan schema and threshold param
  api/__tests__/fund-technical-scan.test.js
  api/__tests__/technical-scan-frontend-contract.test.js
  api/fund-technical-scan.js
  frontend/src/api.ts
  frontend/src/pages/TechnicalScannerPage.tsx
  frontend/src/types.ts
Due: frontend-lint, frontend-format-check

Add shared Supabase guard and apply to API handlers
  api/_lib/supabase-guard.js
  api/fund-history.js
  api/fund-profile.js
  api/fund-risk.js
  api/fund-screen.js
  api/fund-technical-scan.js
  api/funds.js
  api/holdings-screener.js
  api/market-events.js
  api/overlap.js
  api/portfolio.js
Due: none

Handle unsupported holdings phase without crashing sync
  README.md
  api/__tests__/sync-fintables.test.js
  api/_lib/providers/fund-holdings-provider.js
  api/sync-fintables.js
Due: none

Add strict portfolio payload validators and tests
  api/__tests__/portfolio-exposure.test.js
  api/__tests__/portfolio-valuation.test.js
  api/portfolio.js
Due: none

Document CSP ownership and add CSP regression guard
  .github/workflows/csp-policy-check.yml
  docs/CSP_POLICY.md
  docs/VERCEL_SETUP.md
  package.json
  scripts/check-csp.js
  vercel.json
Due: none

feat(ui): aurora minimal theme + dark mode; fix server invocation failures
  api/_lib/supabase-guard.js
  api/fund-history.js
  api/fund-screen.js
  api/fund-technical-scan.js
  api/holdings-screener.js
  api/sync-fintables.js
  frontend-mobile/src/styles.css
  frontend-mobile/src/vite-env.d.ts
  frontend/src/styles.css
Due: frontend-format-check

fix(home): add clear-selection action and prevent removed funds reappearing
  api/_lib/supabase-guard.js
  api/fund-history.js
  api/fund-screen.js
  api/fund-technical-scan.js
  api/holdings-screener.js
  api/sync-fintables.js
  frontend-mobile/src/styles.css
  frontend-mobile/src/vite-env.d.ts
  frontend/src/App.tsx
  frontend/src/components/FundCard.tsx
  frontend/src/styles.css
Due: frontend-lint, frontend-format-check

add persistent theme toggle to web and mobile
  frontend-mobile/package-lock.json
  frontend-mobile/src/App.tsx
  frontend-mobile/src/main.tsx
  frontend-mobile/src/pages/Home.tsx
  frontend-mobile/src/pages/Profile.tsx
  frontend-mobile/src/styles.css
  frontend-mobile/src/vite-env.d.ts
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/styles.css
Due: frontend-lint, frontend-format-check

fix fund search normalization
  frontend/src/components/FundSelector.tsx
  frontend/src/hooks/useFundSearch.ts
  frontend/src/styles.css
Due: frontend-lint, frontend-format-check

fix yat fund universe pagination
  api/__tests__/funds.test.js
  api/funds.js
Due: none

feat(frontend): Complete design system overhaul with dark mode, new typography, and enhanced features
  api/macro-series.js
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/EmptyState.tsx
  frontend/src/components/ErrorState.tsx
  frontend/src/components/FundCard.tsx
  frontend/src/components/PerformanceChart.tsx
  frontend/src/pages/BenchmarkPage.tsx
  frontend/src/pages/ExportPage.tsx
  frontend/src/pages/FundScreenerPage.tsx
  frontend/src/pages/MacroPage.tsx
  frontend/src/pages/PortfolioPage.tsx
  frontend/src/styles.css
Due: frontend-lint, frontend-format-check

fix: revert macro indicators to only forex (USD, EUR, GBP)
  api/macro-series.js
  frontend/src/pages/MacroPage.tsx
Due: frontend-lint, frontend-format-check

fix: update fund screener - dropdown for categories, update stopaj to 0% and 17.5%
  frontend/src/pages/FundScreenerPage.tsx
Due: frontend-lint, frontend-format-check

fix: benchmark page - add proper loading states and error handling
  frontend/src/pages/BenchmarkPage.tsx
Due: frontend-lint, frontend-format-check

feat: add Gold and Brent to macro indicators
  api/macro-series.js
  frontend/src/pages/MacroPage.tsx
Due: frontend-lint, frontend-format-check

fix: add external API domains to CSP for macro indicators
  vercel.json
Due: none

fix: benchmark page - filter out .F suffix funds, handle partial data
  frontend/src/pages/BenchmarkPage.tsx
Due: frontend-lint, frontend-format-check

fix: benchmark page - filter out .F suffix funds
  frontend/src/pages/BenchmarkPage.tsx
Due: frontend-lint, frontend-format-check

Potential fix for pull request finding 'CodeQL / Incomplete string escaping or encoding'
  frontend/tests/xss-verification.spec.ts
Due: frontend-lint, frontend-format-check

fix(App): resolve FundCard TS errors and preserve Turkish UI
  .jules/bolt.md
  frontend/src/App.tsx
  frontend/src/components/FundCard.tsx
  frontend/src/components/FundSelector.tsx
  frontend/src/components/PerformanceChart.tsx
Due: frontend-lint, frontend-format-check

fix: resolve Fund not found errors from spurious refetches and broken dev server
  api-server.js
  frontend/src/App.tsx
Due: frontend-lint, frontend-format-check

repair platform and redesign Foncu
  .env.example
  .github/dependabot.yml
  .github/workflows/quality.yml
  README.md
  api-server.js
  api/__tests__/health.test.js
  api/__tests__/sync-fintables-security.test.js
  api/__tests__/sync-fintables.test.js
  api/_lib/rate-limit.js
  api/_lib/supabase-guard.js
  api/fund-history.js
  api/funds.js
  api/health.js
  api/overlap.js
  api/portfolio.js
  api/sync-fintables.js
  docs/AUDIT_2026-07-12.md
  docs/DATA_SOURCES.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.svg
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/AuthMenu.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/lib/supabase.ts
  frontend/src/pages/ExportPage.tsx
  frontend/src/pages/PortfolioPage.tsx
  frontend/src/styles.css
  frontend/vite.config.ts
  package-lock.json
  package.json
  scripts/verify-environment.js
  supabase/migrations/20260712195009_portfolio_holdings_security.sql
  vercel.json
Due: frontend-lint, frontend-format-check

fix preview deployment and database indexes
  api/__tests__/health.test.js
  api/_lib/health.js
  api/funds.js
  supabase/migrations/20260712195009_portfolio_holdings_security.sql
  supabase/migrations/20260712203500_drop_duplicate_indexes.sql
  vercel.json
Due: none

fix: migrate TEFAS adapter to current API
  api/__tests__/tefas.test.js
  api/_lib/tefas.js
Due: none

fix: handle allocation-only TEFAS funds
  api/__tests__/fund-profiles-provider.test.js
  api/_lib/providers/fund-profiles-provider.js
Due: none

fix: persist nightly TEFAS NAV snapshots
  api/__tests__/fund-profiles-provider.test.js
  api/__tests__/sync-fintables.test.js
  api/_lib/providers/fund-profiles-provider.js
  api/sync-fintables.js
Due: none

fix: use completed business-day allocations
  api/__tests__/fund-profiles-provider.test.js
  api/_lib/providers/fund-profiles-provider.js
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(ts|tsx)$
  frontend-format-check: any of: ^frontend/.*\.(ts|tsx|css)$
